<html>
  <head>
    <title>Checkers Board</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <style type="text/css">
      .block { width:100px;height:100px;color:#fff;float:left;font-weight:bold; }
      .block_odd { background-color:#000; }
      .block_even { background-color:red; }
      .linebreak { height:1px;overflow:auto;width:100%;}
    </style>
  </head>
  <body>


    <!-- stuff here -->
    <div style="width:800px;">
    {% for i in blocks %}
      <div class="block block_{{i.class}}"> 
        {{forloop.counter}}
      </div>
    {% endfor %}
  </div>



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
  </html>
